.footer__column-link {
    margin: 0;
    margin-bottom: 10px; 
    opacity: 1;
    transition: opacity 1s linear;
    list-style-type: none;
    line-height: 18px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.footer__column-link:hover {
    opacity: .5;
}

.footer__column-link:last-of-type {
    margin-bottom: 0; 
}