.kaufman {
    margin: auto;
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: #1f1f1f;
}

