.khan__buy-link {
    margin: 0px;
    line-height: 42px;
    font-size: 30px;
    font-weight: 400;
    color: #2f80ed;
    text-decoration: none;
}

.khan__buy-link:hover {
    text-decoration: underline;
}