.khan__buy-link {
    margin: 0px;
    line-height: 42px;
    font-size: 30px;
    font-weight: 400;
    color: #2f80ed;
    text-decoration: none;
    opacity: 1;
    transition: opacity 1s linear;
}

.khan__buy-link:hover {
    opacity: .5;
}